@import url("./sidebar.css");
@import url("./content.css");
@import url("./titlebar.css");
@import url("./list.css");
@import url("./body.css");
@import url("./statusbar.css");

#MessagingApp > div.body {
  display: flex;
  padding: 0;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

#MessagingApp > div.body div.content {
  display: flex;
  flex-direction: column;
}

#MessagingApp > div.body div.content div.bottom {
  display: flex;
  height: 100%;
  max-height: calc(100% - 75px);
}
