@import url("./field/recipient.css");

#MessageComposer > div.body div.field {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: var(--win-border);
  height: 50px;
  padding: 10px;
}

#MessageComposer > div.body div.field p.caption {
  width: 80px;
  margin-left: 10px;
  opacity: 0.5;
}

#MessageComposer > div.body div.field div.input {
  flex-grow: 1;
  max-width: calc(100% - 100px);
  overflow-x: auto;
}
#MessageComposer > div.body div.field div.input > * {
  vertical-align: middle;
}

#MessageComposer > div.body div.field div.input input {
  width: 100%;
  border: none;
  box-shadow: none;
  padding: 0;
  height: 30px;
}

#MessageComposer > div.body div.field div.input::-webkit-scrollbar {
  display: none;
}
